#
#   Empire - A multi-player, client/server Internet based war game.
#   Copyright (C) 1986-2006, Dave Pare, Jeff Bailey, Thomas Ruschak,
#                            Ken Stevens, Steve McClure
#
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation; either version 2 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with this program; if not, write to the Free Software
#   Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#
#   ---
#
#   See files README, COPYING and CREDITS in the root of the source
#   tree for related information and legal notices.  It is expected
#   that future projects/authors will amend these files as needed.
#
#   ---
#
#   plane.config: Plane characteristics
#
#   Known contributors to this file:
#      Markus Armbruster, 2006
#
#   Derived from plane.c; known contributors:
#      Dave Pare, 1986
#      Jeff Bailey
#      Thomas Ruschak, 1992
#      Ken Stevens, 1995
#      Steve McClure, 1998
#

# Available flags are in plane_chr_flags[].  info Plane-types should
# document them all.
#
# Note if a flag missile is set, then flag VTOL will automatically be
# set by init_plchr().

config plane-chr
type name                       l_b h_b cre tech cost ...
 0  "f1   Sopwith Camel"          8   2   1   50  400
 1  "f2   P-51 Mustang"           8   2   1   80  400
 2  "jf1  F-4 Phantom"           12   4   2  125 1000
 3  "jf2  AV-8B Harrier"         12   4   2  195 1400
 4  "sf   F-117A Nighthawk"      15   5   2  325 3000
 5  "es   P-38 Lightning"         9   3   1   90  700
 6  "jes  F-14E jet escort"      14   8   2  160 1400
 7  "lb   TBD-1 Devastator"      10   3   1   60  550
 8  "jl   A-6 Intruder"          14   4   2  130 1000
 9  "mb   medium bomber"         14   5   3   80 1000
10  "jfb  FB-111 Aardvark f/b"   20  10   5  140 1800
11  "hb   B-26B Marauder"        20   6   2   90 1100
12  "jhb  B-52 Strato-Fortress"  26  13   5  150 3200
13  "sb   B-2 stealth bomber"    15   5   2  325 4000
14  "as   anti-sub plane"        10   3   2  100  550
15  "np   naval plane"           20  10   4  135 1800
16  "nc   AH-1 Cobra"             8   2   2  160  800
17  "ac   AH-64 Apache"           8   2   2  200  800
18  "tc   transport chopper"      8   2   2  135  800
19  "tr   C-56 Lodestar"         14   5   3   85 1000
20  "jt   C-141 Starlifter"      18   5   3  160 1500
21  "zep  Zeppelin"               6   2   3   70 1000
22  "re   recon"                 12   4   2  130  800
23  "sp   E2-C Hawkeye"          15   5   2  190 2000
24  "lst  landsat"               20  20   0  245 2000
25  "ss   KH-7 spysat"           20  20   0  305 4000
26  "mi   Harpoon"                8   2   0  160  300
27  "sam  Sea Sparrow"            3   1   0  180  200
28  "ssm  V2"                    15  15   0  145  800
29  "srbm Atlas"                 20  20   0  200 1000
30  "irbm Titan"                 20  20   0  260 1500
31  "icbm Minuteman"             20  20   0  310 3000
32  "slbm Trident"               20  20   0  280 2000
33  "asat anti-sat"              20  20   0  305 2000
34  "abm  Patriot"               16   8   0  270 1500
/config

config plane-chr
type name                       acc loa att def ran fue ste ...
 0  "f1   Sopwith Camel"         90   1   1   1   4   1   0
 1  "f2   P-51 Mustang"          80   1   4   4   8   1   0
 2  "jf1  F-4 Phantom"           45   1  14  14  11   3   0
 3  "jf2  AV-8B Harrier"         30   1  17  17  14   3   0
 4  "sf   F-117A Nighthawk"      45   3  19  19  20   4  80
 5  "es   P-38 Lightning"        60   1   5   5  15   2   0
 6  "jes  F-14E jet escort"      60   1  10  10  25   3   0
 7  "lb   TBD-1 Devastator"      50   2   0   3   7   1   0
 8  "jl   A-6 Intruder"          25   3   0   9  11   3   0
 9  "mb   medium bomber"         45   4   0   5  14   3   0
10  "jfb  FB-111 Aardvark f/b"   30   7   8   8  20   5   0
11  "hb   B-26B Marauder"        90   5   0   4  15   2   0
12  "jhb  B-52 Strato-Fortress"  80  12   0  11  35   6   0
13  "sb   B-2 stealth bomber"    25   8   0  15  28   5  80
14  "as   anti-sub plane"        85   2   0   3  15   2   0
15  "np   naval plane"           70   3   0   4  28   2   0
16  "nc   AH-1 Cobra"            55   2   0   3  11   2   0
17  "ac   AH-64 Apache"          15   1   0   9  11   2  40
18  "tc   transport chopper"      0   5   0   3   7   2  40
19  "tr   C-56 Lodestar"          0   7   0   2  15   3   0
20  "jt   C-141 Starlifter"       0  16   0   9  35   4   0
21  "zep  Zeppelin"              60   2   0  -3  15   2   0
22  "re   recon"                  0   0   0   4  15   2  20
23  "sp   E2-C Hawkeye"           0   0   0  11  32   5  50
24  "lst  landsat"                0   0   0   3  41   9   0
25  "ss   KH-7 spysat"            0   0   0   3  61   9   0
26  "mi   Harpoon"               50   6   0   5   6   0   0
27  "sam  Sea Sparrow"            0   0   0  18   2   0   0
28  "ssm  V2"                    60   3   0   3   4   0   0
29  "srbm Atlas"                 60   6   0   5   9   0   0
30  "irbm Titan"                 60   8   0  10  15   0   0
31  "icbm Minuteman"             60  10   0  15  41   0   0
32  "slbm Trident"               60   8   0   6  23   0   0
33  "asat anti-sat"              50   6   0   7  13   4   0
34  "abm  Patriot"               50   0   0  31  12   0   0
/config

config plane-chr
type name                       flags
 0  "f1   Sopwith Camel"        (tactical intercept VTOL)
 1  "f2   P-51 Mustang"         (tactical intercept light)
 2  "jf1  F-4 Phantom"          (tactical intercept light)
 3  "jf2  AV-8B Harrier"        (tactical intercept VTOL light)
 4  "sf   F-117A Nighthawk"     (tactical intercept light)
 5  "es   P-38 Lightning"       (tactical escort)
 6  "jes  F-14E jet escort"     (tactical escort)
 7  "lb   TBD-1 Devastator"     (bomber tactical VTOL light)
 8  "jl   A-6 Intruder"         (bomber tactical light)
 9  "mb   medium bomber"        (bomber tactical)
10  "jfb  FB-111 Aardvark f/b"  (bomber tactical)
11  "hb   B-26B Marauder"       (bomber)
12  "jhb  B-52 Strato-Fortress" (bomber)
13  "sb   B-2 stealth bomber"   (bomber tactical)
14  "as   anti-sub plane"       (tactical ASW mine sweep)
15  "np   naval plane"          (tactical cargo light ASW mine sweep)
16  "nc   AH-1 Cobra"           (tactical VTOL helo ASW sweep)
17  "ac   AH-64 Apache"         (tactical VTOL helo)
18  "tc   transport chopper"    (cargo VTOL light helo para)
19  "tr   C-56 Lodestar"        (cargo para)
20  "jt   C-141 Starlifter"     (cargo para)
21  "zep  Zeppelin"             (tactical cargo VTOL spy)
22  "re   recon"                (spy)
23  "sp   E2-C Hawkeye"         (spy)
24  "lst  landsat"              (satellite)
25  "ss   KH-7 spysat"          (spy image satellite)
26  "mi   Harpoon"              (tactical VTOL missile light marine)
27  "sam  Sea Sparrow"          (intercept VTOL missile light x-light)
28  "ssm  V2"                   (tactical VTOL missile)
29  "srbm Atlas"                (tactical VTOL missile)
30  "irbm Titan"                (tactical VTOL missile)
31  "icbm Minuteman"            (tactical VTOL missile)
32  "slbm Trident"              (tactical VTOL missile light)
33  "asat anti-sat"             (VTOL missile satellite)
34  "abm  Patriot"              (VTOL missile SDI)
/config
