#
#   Empire - A multi-player, client/server Internet based war game.
#   Copyright (C) 1986-2012, Dave Pare, Jeff Bailey, Thomas Ruschak,
#                 Ken Stevens, Steve McClure, Markus Armbruster
#
#   Empire is free software: you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
#   ---
#
#   See files README, COPYING and CREDITS in the root of the source
#   tree for related information and legal notices.  It is expected
#   that future projects/authors will amend these files as needed.
#
#   ---
#
#   product.config: Product characteristics
#
#   Known contributors to this file:
#      Markus Armbruster, 2006-2011
#
#   Derived from product.c; no known contributors
#

# Available item types (columns ct and type) are in item.config.
# Levels (columns lev and nlndx) are in compiled-in table level.
# Resources (column nrndx) are in compiled-in table resources.

# A product is either an item (value other than -1 in column type) or
# a level (value other than none in column lev).

# Products with a value other than none in column nrndx mine that
# natural resource.  When nrdep is non-zero, mining depletes the
# resource.  The smaller the value, the slower the depletion.

# Do not edit this file to customize a game!  Create your own custom
# configuration file(s), best next to your econfig, and name them in
# econfig key custom_tables.

config product
uid sname     ct(0) ct(1) ct(2) ca(0) ca(1) ca(2) type  lev cost nrndx nrdep nlndx nlmin nllag name
# Mining natural resources:
  0 "iron"      -1    -1    -1     0     0     0     i none    0   min     0  none     0     0 "iron ore"
  1 "dust"      -1    -1    -1     0     0     0     d none    0  gold    20  none     0     0 "gold dust"
  2 "food"      -1    -1    -1     0     0     0     f none    0  fert     0  tech   -10    10 "food"
  3 "oil"       -1    -1    -1     0     0     0     o none    0  ocon    10  tech   -10    10 "oil"
  4 "rad"       -1    -1    -1     0     0     0     r none    2  uran    35  tech    40    10 "radioactive materials"
# Processing stuff into different stuff:
  5 "shells"     l     h    -1     2     1     0     s none    3  none     0  tech    20    10 "shells"
  6 "guns"       o     l     h     1     5    10     g none   30  none     0  tech    20    10 "guns"
  7 "petrol"     o    -1    -1     1     0     0     p none    1  none     0  tech    20    10 "petrol"
  8 "bars"       d    -1    -1     5     0     0     b none   10  none     0  none     0     0 "gold bars"
  9 "lcm"        i    -1    -1     1     0     0     l none    0  none     0  tech   -10    10 "light construction materials"
 10 "hcm"        i    -1    -1     2     0     0     h none    0  none     0  tech   -10    10 "heavy construction materials"
# Producing levels:
 11 "tech"       d     o     l     1     5    10    -1 tech  300  none     0   edu     5    10 "technological breakthroughs"
 12 "medical"    d     o     l     1     5    10    -1  res   90  none     0   edu     5    10 "medical discoveries"
 13 "edu"        l    -1    -1     1     0     0    -1  edu    9  none     0  none     0     0 "a class of graduates"
 14 "happy"      l    -1    -1     1     0     0    -1  hap    9  none     0  none     0     0 "happy strollers"
/config
