#
#   Empire - A multi-player, client/server Internet based war game.
#   Copyright (C) 1986-2016, Dave Pare, Jeff Bailey, Thomas Ruschak,
#                 Ken Stevens, Steve McClure, Markus Armbruster
#
#   Empire is free software: you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
#   ---
#
#   See files README, COPYING and CREDITS in the root of the source
#   tree for related information and legal notices.  It is expected
#   that future projects/authors will amend these files as needed.
#
#   ---
#
#   sect.config: Sector characteristics
#
#   Known contributors to this file:
#      Markus Armbruster, 2006-2016
#
#   Derived from sect.c; known contributors:
#      Dave Pare, 1986
#      Jeff Bailey
#      Thomas Ruschak, 1992
#      Ken Stevens, 1995
#      Steve McClure, 1998
#

# The sector types (column uid) must match the compiled-in types
# defined in sect.h.

# Sector terrain (column terra) is the uid of the underlying terrain
# sector type.  Sector types that occur in that column are terrain
# types, and must have themselves as terrain.

# Available products (column prd) are in product.config.  Navigation
# types (column nav) are in compiled-in table sector-navigation.
# Packing types (column pkg) are in compiled-in table packing.

# Players can only designate sectors with a non-negative value in
# column cost, and only to something with the same terrain.  All
# sectors with the same terrain and non-negative cost should have the
# same population limit (column maxpop), or else players can abuse
# redesignation to mass-murder people.

# A sector with urban packing (urba in column pkg) is a big city.
# Column maxpop applies at 0% efficiency.  The limit at 100% is ten
# times as large, up to the general item limit 9999.

# Do not edit this file to customize a game!  Create your own custom
# configuration file(s), best next to your econfig, and name them in
# econfig key custom_tables.

config sect-chr
uid mnem   prd peff val cost bui lcm hcm maint name ...
  0  "."    -1    0   0   -1   0   0   0     0 "sea"
  1  "^"  dust   75   5   -1   1   0   0     0 "mountain"
  2  "s"    -1    0 127   -1   0   0   0     0 "sanctuary"
  3 "\134"  -1    0   0   -1   0   0   0     0 "wasteland"
  4  "-"    -1    0   1    0   0   0   0     0 "wilderness"
# Uncomment one of the following two.  The second one is for big cities.
  5  "c"    -1    0  30    0   1   0   0     1 "capital"
# 5  "c"    -1    0  30    0  10   1   2     1 "city"
  6  "u"   rad  100  15    0   1   0   0     0 "uranium mine"
  7  "p"   hap  100   5    0   1   0   0     0 "park"
  8  "d"   gun  100   7    0   1   0   0     0 "defense plant"
  9  "i"    sh  100   6    0   1   0   0     0 "shell industry"
 10  "m"  iron  100   5    0   1   0   0     0 "mine"
 11  "g"  dust  100   8    0   1   0   0     0 "gold mine"
 12  "h"    -1    0  12    0   1   0   0     0 "harbor"
 13  "w"    -1    0   7    0   1   0   0     0 "warehouse"
 14  "*"    -1    0  12    0   1   0   0     0 "airfield"
 15  "a"  food  900   2    0   1   0   0     0 "agribusiness"
 16  "o"   oil  100   5    0   1   0   0     0 "oil field"
 17  "j"   lcm  100   3    0   1   0   0     0 "light manufacturing"
 18  "k"   hcm  100   4    0   1   0   0     0 "heavy manufacturing"
 19  "f"    -1    0  10    0   5   0   1     0 "fortress"
 20  "t"  tech  100  10    0   1   0   0     0 "technical center"
 21  "r"   med  100   9    0   1   0   0     0 "research lab"
 22  "n"    -1    0  10    0   1   0   0     0 "nuclear plant"
 23  "l"   edu  100   4    0   1   0   0     0 "library/school"
 24  "+"    -1    0   3    0   1   0   0     0 "highway"
 25  ")"    -1    0   4    0   1   0   0     0 "radar installation"
 26  "!"    -1    0  12    0   1   0   0     0 "headquarters"
 27  "#"    -1    0   3    0   1   0   0     0 "bridge head"
 28  "="    -1    0   5   -1   1   0   0     0 "bridge span"
 29  "b"  bars  100  10    0   1   0   0     0 "bank"
 30  "%"   pet 1000   2    0   1   0   0     0 "refinery"
 31  "e"    -1    0   7    0   1   0   0     0 "enlistment center"
 32  "~"    -1    0   1   -1   1   0   0     0 "plains"
 33  "@"    -1    0   4   -1   1   0   0     0 "bridge tower"
# Deity-defined sector types go here
/config

config sect-chr
uid mnem terra mob0 mob1  nav  pkg ostr dstr maxpop
  0  "."    0    -1   -1  sea norm  0.0  0.0     0
  1  "^"    1   2.4  1.2 land norm  1.0  4.0   100
  2  "s"    4    -1   -1 land norm  0.0 99.0  1000
  3 "\134"  3    -1   -1 land norm  0.0 99.0     0
  4  "-"    4   0.4  0.4 land norm  1.0  2.0  1000
# Uncomment one of the following two.  The second one is for big cities.
  5  "c"    4   0.4  0.2 land norm  1.0  2.0  1000
# 5  "c"    4   0.4  0.2 cana urba  1.0  2.0  1000
  6  "u"    4   0.4  0.2 land norm  1.0  2.0  1000
  7  "p"    4   0.4  0.2 land norm  1.0  1.5  1000
  8  "d"    4   0.4  0.2 land norm  1.0  1.5  1000
  9  "i"    4   0.4  0.2 land norm  1.0  1.5  1000
 10  "m"    4   0.4  0.2 land norm  1.0  2.0  1000
 11  "g"    4   0.4  0.2 land norm  1.0  2.0  1000
 12  "h"    4   0.4  0.2 harb ware  1.0  1.5  1000
 13  "w"    4   0.4  0.2 land ware  1.0  1.5  1000
 14  "*"    4   0.4  0.2 land norm  1.0  1.25 1000
 15  "a"    4   0.4  0.2 land norm  1.0  1.5  1000
 16  "o"    4   0.4  0.2 land norm  1.0  1.5  1000
 17  "j"    4   0.4  0.2 land norm  1.0  1.5  1000
 18  "k"    4   0.4  0.2 land norm  1.0  1.5  1000
 19  "f"    4   0.4  0.2 land norm  2.0  4.0  1000
 20  "t"    4   0.4  0.2 land norm  1.0  1.5  1000
 21  "r"    4   0.4  0.2 land norm  1.0  1.5  1000
 22  "n"    4   0.4  0.2 land norm  1.0  2.0  1000
 23  "l"    4   0.4  0.2 land norm  1.0  1.5  1000
 24  "+"    4   0.4  0.0 land norm  1.0  1.0  1000
 25  ")"    4   0.4  0.2 land norm  1.0  1.5  1000
 26  "!"    4   0.4  0.2 land norm  1.0  1.5  1000
 27  "#"    4   0.4  0.0 land norm  1.0  1.0  1000
 28  "="    0   0.4  0.0 brid norm  1.0  1.0   100
 29  "b"    4   0.4  0.2 land bank  1.0  2.25 1000
 30  "%"    4   0.4  0.2 land norm  1.0  1.5  1000
 31  "e"    4   0.4  0.2 land norm  1.0  2.0  1000
 32  "~"   32   0.4  0.2 land norm  1.0  1.5   100
 33  "@"    0   0.4  0.0 land norm  1.0  1.5   100
# Deity-defined sector types go here
/config
