#
#   Empire - A multi-player, client/server Internet based war game.
#   Copyright (C) 1986-2008, Dave Pare, Jeff Bailey, Thomas Ruschak,
#                            Ken Stevens, Steve McClure
#
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation; either version 2 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with this program; if not, write to the Free Software
#   Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#
#   ---
#
#   See files README, COPYING and CREDITS in the root of the source
#   tree for related information and legal notices.  It is expected
#   that future projects/authors will amend these files as needed.
#
#   ---
#
#   sect.config: Sector characteristics
#
#   Known contributors to this file:
#      Markus Armbruster, 2006-2008
#
#   Derived from sect.c; known contributors:
#      Dave Pare, 1986
#      Jeff Bailey
#      Thomas Ruschak, 1992
#      Ken Stevens, 1995
#      Steve McClure, 1998
#

# Sector terrain (column terra) is the uid of the underlying terrain
# sector type.  Sector types that occur in that column are terrain
# types, and must have themselves as terrain.

# Available products (column prd) are in product.config.  Navigation
# types (column nav) are in sector_navigation[].  Packing types
# (column pkg) are in packing[].

# Players can only designate sectors with a non-negative value in
# column cost, and only to something with the same terrain.  All
# sectors with the same terrain and non-negative cost should have the
# same population limit (column maxp), or else players can abuse
# redesignation to mass-murder people.

# A sector with urban packing (urba in column pkg) is a big city.
# Column maxp applies at 0% efficiency.  The limit at 100% is ten
# times as large, up to the general item limit 9999.

# Do not edit this file to customize a game!  Create your own custom
# configuration file(s), best next to your econfig, and name them in
# econfig key custom_tables.

config sect-chr
uid mnem terra prd peff mob0 mob1  nav  pkg ostr dstr val cost bui lcm hcm maxp name
  0  "."    0   -1    0   -1   -1  sea norm  0.0  0.0   0   -1   0   0   0    0 "sea"
  1  "^"    1 dust   75  2.4  1.2 land norm  1.0  4.0   5   -1   1   0   0  100 "mountain"
  2  "s"    4   -1    0   -1   -1 land norm  0.0 99.0 127   -1   0   0   0 1000 "sanctuary"
  3 "\134"  3   -1    0   -1   -1 land norm  0.0 99.0   0   -1   0   0   0    0 "wasteland"
  4  "-"    4   -1    0  0.4  0.4 land norm  1.0  2.0   1    0   0   0   0 1000 "wilderness"
# Uncomment one of the following two.  The second one is for big cities.
  5  "c"    4   -1    0  0.4  0.2 land norm  1.0  2.0  30    0   1   0   0 1000 "capital"
# 5  "c"    4   -1    0  0.4  0.2 cana urba  1.0  2.0  30    0  10   1   2 1000 "city"
  6  "u"    4  rad  100  0.4  0.2 land norm  1.0  2.0  15    0   1   0   0 1000 "uranium mine"
  7  "p"    4  hap  100  0.4  0.2 land norm  1.0  1.5   5    0   1   0   0 1000 "park"
  8  "d"    4  gun  100  0.4  0.2 land norm  1.0  1.5   7    0   1   0   0 1000 "defense plant"
  9  "i"    4   sh  100  0.4  0.2 land norm  1.0  1.5   6    0   1   0   0 1000 "shell industry"
 10  "m"    4 iron  100  0.4  0.2 land norm  1.0  2.0   5    0   1   0   0 1000 "mine"
 11  "g"    4 dust  100  0.4  0.2 land norm  1.0  2.0   8    0   1   0   0 1000 "gold mine"
 12  "h"    4   -1    0  0.4  0.2 harb ware  1.0  1.5  12    0   1   0   0 1000 "harbor"
 13  "w"    4   -1    0  0.4  0.2 land ware  1.0  1.5   7    0   1   0   0 1000 "warehouse"
 14  "*"    4   -1    0  0.4  0.2 land norm  1.0  1.25 12    0   1   0   0 1000 "airfield"
 15  "a"    4 food  900  0.4  0.2 land norm  1.0  1.5   2    0   1   0   0 1000 "agribusiness"
 16  "o"    4  oil  100  0.4  0.2 land norm  1.0  1.5   5    0   1   0   0 1000 "oil field"
 17  "j"    4  lcm  100  0.4  0.2 land norm  1.0  1.5   3    0   1   0   0 1000 "light manufacturing"
 18  "k"    4  hcm  100  0.4  0.2 land norm  1.0  1.5   4    0   1   0   0 1000 "heavy manufacturing"
 19  "f"    4   -1    0  0.4  0.2 land norm  2.0  4.0  10    0   5   0   1 1000 "fortress"
 20  "t"    4 tech  100  0.4  0.2 land norm  1.0  1.5  10    0   1   0   0 1000 "technical center"
 21  "r"    4  med  100  0.4  0.2 land norm  1.0  1.5   9    0   1   0   0 1000 "research lab"
 22  "n"    4   -1    0  0.4  0.2 land norm  1.0  2.0  10    0   1   0   0 1000 "nuclear plant"
 23  "l"    4  edu  100  0.4  0.2 land norm  1.0  1.5   4    0   1   0   0 1000 "library/school"
 24  "+"    4   -1    0  0.4  0.0 land norm  1.0  1.0   3    0   1   0   0 1000 "highway"
 25  ")"    4   -1    0  0.4  0.2 land norm  1.0  1.5   4    0   1   0   0 1000 "radar installation"
 26  "!"    4   -1    0  0.4  0.2 land norm  1.0  1.5  12    0   1   0   0 1000 "headquarters"
 27  "#"    4   -1    0  0.4  0.0 land norm  1.0  1.0   3    0   1   0   0 1000 "bridge head"
 28  "="    0   -1    0  0.4  0.0 brid norm  1.0  1.0   5   -1   1   0   0  100 "bridge span"
 29  "b"    4 bars  100  0.4  0.2 land bank  1.0  2.25 10    0   1   0   0 1000 "bank"
 30  "%"    4  pet 1000  0.4  0.2 land norm  1.0  1.5   2    0   1   0   0 1000 "refinery"
 31  "e"    4   -1    0  0.4  0.2 land norm  1.0  2.0   7    0   1   0   0 1000 "enlistment center"
 32  "~"   32   -1    0  0.4  0.2 land norm  1.0  1.5   1   -1   1   0   0  100 "plains"
 33  "@"    0   -1    0  0.4  0.0 land norm  1.0  1.5   4   -1   1   0   0  100 "bridge tower"
/config
