#
#   Empire - A multi-player, client/server Internet based war game.
#   Copyright (C) 1986-2006, Dave Pare, Jeff Bailey, Thomas Ruschak,
#                            Ken Stevens, Steve McClure
#
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation; either version 2 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with this program; if not, write to the Free Software
#   Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#
#   ---
#
#   See files README, COPYING and CREDITS in the root of the source
#   tree for related information and legal notices.  It is expected
#   that future projects/authors will amend these files as needed.
#
#   ---
#
#   sect.config: Sector characteristics
#
#   Known contributors to this file:
#      Markus Armbruster, 2006
#
#   Derived from sect.c; known contributors:
#      Dave Pare, 1986
#      Jeff Bailey
#      Thomas Ruschak, 1992
#      Ken Stevens, 1995
#      Steve McClure, 1998
#

# Available products (column prd) are in product.config.  Navigation
# types (column nav) are in sector_navigation[].  Packing types
# (column pkg) are in packing[].

# Do not edit this file to customize a game!  Create your own custom
# configuration file(s), best next to your econfig, and name them in
# econfig key custom_tables.

config sect-chr
uid mnem  prd peff mcst  nav  pkg ostr dstr val cost bui lcm hcm maxp name
  0  "."    0    0    0  sea norm  0.0  0.0   0   -1   0   0   0    0 "sea"
  1  "^" dust   75   25 land norm  1.0  4.0   5   -1   1   0   0   99 "mountain"
  2  "s"    0    0    0 land norm  0.0 99.0 127   -1   0   0   0  999 "sanctuary"
  3 "\134"  0    0    0 land norm  0.0 99.0   0   -1   0   0   0    0 "wasteland"
  4  "-"    0    0    3 land norm  1.0  2.0   1    0   0   0   0  999 "wilderness"
# Uncomment one of the following two.  The second is for big cities.
  5  "c"    0    0    2 land norm  1.0  2.0  30    0   1   0   0  999 "capital"
# 5  "c"    0    0    2 cana urba  1.0  2.0  30    0  10   1   2  999 "city"
  6  "u"  rad  100    2 land norm  1.0  2.0  15    0   1   0   0  999 "uranium mine"
  7  "p"  hap  100    2 land norm  1.0  1.5   5    0   1   0   0  999 "park"
  8  "d"  gun  100    2 land norm  1.0  1.5   7    0   1   0   0  999 "defense plant"
  9  "i"   sh  100    2 land norm  1.0  1.5   6    0   1   0   0  999 "shell industry"
 10  "m" iron  100    2 land norm  1.0  2.0   5    0   1   0   0  999 "mine"
 11  "g" dust  100    2 land norm  1.0  2.0   8    0   1   0   0  999 "gold mine"
 12  "h"    0    0    2 harb ware  1.0  1.5  12    0   1   0   0  999 "harbor"
 13  "w"    0    0    2 land ware  1.0  1.5   7    0   1   0   0  999 "warehouse"
 14  "*"    0    0    2 land norm  1.0  1.25 12    0   1   0   0  999 "airfield"
 15  "a" food  900    2 land norm  1.0  1.5   2    0   1   0   0  999 "agribusiness"
 16  "o"  oil  100    2 land norm  1.0  1.5   5    0   1   0   0  999 "oil field"
 17  "j"  lcm  100    2 land norm  1.0  1.5   3    0   1   0   0  999 "light manufacturing"
 18  "k"  hcm  100    2 land norm  1.0  1.5   4    0   1   0   0  999 "heavy manufacturing"
 19  "f"    0    0    2 land norm  2.0  4.0  10    0   5   0   1  999 "fortress"
 20  "t" tech  100    2 land norm  1.0  1.5  10    0   1   0   0  999 "technical center"
 21  "r"  med  100    2 land norm  1.0  1.5   9    0   1   0   0  999 "research lab"
 22  "n"    0    0    2 land norm  1.0  2.0  10    0   1   0   0  999 "nuclear plant"
 23  "l"  edu  100    2 land norm  1.0  1.5   4    0   1   0   0  999 "library/school"
 24  "+"    0    0    1 land norm  1.0  1.0   3    0   1   0   0  999 "highway"
 25  ")"    0    0    2 land norm  1.0  1.5   4    0   1   0   0  999 "radar installation"
 26  "!"    0    0    2 land norm  1.0  1.5  12    0   1   0   0  999 "headquarters"
 27  "#"    0    0    1 land norm  1.0  1.5   4    0   1   0   0  999 "bridge head"
 28  "="    0    0    1 brid norm  1.0  1.0   5   -1   1   0   0  999 "bridge span"
 29  "b" bars  100    2 land bank  1.0  2.25 10    0   1   0   0  999 "bank"
 30  "%"  pet 1000    2 land norm  1.0  1.5   2    0   1   0   0  999 "refinery"
 31  "e"    0    0    2 land norm  1.0  2.0   7    0   1   0   0  999 "enlistment center"
 32  "~"    0    0    2 land norm  1.0  1.5   1   -1   1   0   0   49 "plains"
 33  "@"    0    0    1 land norm  1.0  1.5   4   -1   1   0   0  999 "bridge tower"
/config
