#
#   Empire - A multi-player, client/server Internet based war game.
#   Copyright (C) 1986-2006, Dave Pare, Jeff Bailey, Thomas Ruschak,
#                            Ken Stevens, Steve McClure
#
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation; either version 2 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with this program; if not, write to the Free Software
#   Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#
#   ---
#
#   See files README, COPYING and CREDITS in the root of the source
#   tree for related information and legal notices.  It is expected
#   that future projects/authors will amend these files as needed.
#
#   ---
#
#   ship.config: Ship characteristics
#
#   Known contributors to this file:
#      Markus Armbruster, 2006
#
#   Derived from ship.c; known contributors:
#      Dave Pare, 1986
#      Jeff Bailey
#      Thomas Ruschak, 1992
#      Ken Stevens, 1995
#      Steve McClure, 1998
#

# Available flags are in ship_chr_flags[].  info Ship-types should
# document them all.
#
# Note that you can't set the flags M_XLIGHT or M_CHOPPER here.  They
# will be automatically set by init_mchr() if the ship can carry a
# non-zero amount of those things.  Also note that if nplanes > 0 and
# flag plane is not set, then flag miss will automatically be set.

config ship-chr
type name                       l_b h_b tech cost ...
 0  "fb   fishing boat"          25  15    0  180
 1  "ft   fishing trawler"       25  15   35  300
 2  "cs   cargo ship"            60  40   20  500
 3  "os   ore ship"              60  40   20  500
 4  "ss   slave ship"            60  40    0  300
 5  "ts   trade ship"           200 100   30 1750
 6  "frg  frigate"               30  30    0  600
 7  "oe   oil exploration boat"  25  15   40  800
 8  "od   oil derrick"           60  60   50 1500
 9  "pt   patrol boat"           20  10   40  300
10  "lc   light cruiser"         30  40   45  800
11  "hc   heavy cruiser"         40  50   50 1200
12  "tt   troop transport"       50  50   10  800
13  "bb   battleship"            50  70   45 1800
14  "bbc  battlecruiser"         50  60   75 1500
15  "tk   tanker"                60  40   35  600
16  "ms   minesweeper"           25  15   40  400
17  "dd   destroyer"             30  30   70  600
18  "sb   submarine"             30  30   60  650
19  "sbc  cargo submarine"       40  40  150 1200
20  "cal  light carrier"         50  60   80 2700
21  "car  aircraft carrier"      60  70  160 4500
22  "can  nuc carrier"           70  80  305 8000
23  "ls   landing ship"          60  40  145 1000
24  "af   asw frigate"           40  30  220  800
25  "na   nuc attack sub"        30  40  260 1200
26  "ad   asw destroyer"         40  40  240 1500
27  "nm   nuc miss sub"          30  40  270 1500
28  "msb  missile sub"           30  30  230 1200
29  "mb   missile boat"          20  20  180  500
30  "mf   missile frigate"       40  30  280 1000
31  "mc   missile cruiser"       50  50  290 1500
32  "aac  aa cruiser"            50  60  130 1500
33  "agc  aegis cruiser"         50  60  265 4000
34  "ncr  nuc cruiser"           50  50  325 1800
35  "nas  nuc asw cruiser"       50  50  330 1800
36  "nsp  nuc supply ship"       60  40  360 1500
/config

config ship-chr
type name                       arm spe vis vrn frn gli nla npl nch nxl fuelc fuelu ...
 0  "fb   fishing boat"          10  10  15   2   0   0   0   0   0   0     0     0
 1  "ft   fishing trawler"       10  25  15   2   0   0   0   0   0   0    20     1
 2  "cs   cargo ship"            20  25  35   3   0   0   2   0   0   1     0     0
 3  "os   ore ship"              20  25  35   3   0   0   0   0   0   1    30     1
 4  "ss   slave ship"            20  10  35   3   0   0   0   0   0   1     0     0
 5  "ts   trade ship"            20  25  35   3   0   0   0   0   0   1    30     1
 6  "frg  frigate"               50  25  25   3   1   1   2   0   0   1     0     0
 7  "oe   oil exploration boat"  10  25  15   2   0   0   0   0   0   0    20     1
 8  "od   oil derrick"           30  15  65   3   0   0   0   0   0   2     0     0
 9  "pt   patrol boat"           10  38  10   2   1   1   0   0   0   0     4     1
10  "lc   light cruiser"         50  30  30   5   6   3   2   0   0   1    40     1
11  "hc   heavy cruiser"         70  30  30   5   8   4   4   0   0   1    30     1
12  "tt   troop transport"       60  20  35   3   1   2   2   0   0   1     0     0
13  "bb   battleship"            95  25  35   6  10   7   2   0   0   1    50     2
14  "bbc  battlecruiser"         55  30  35   6  10   6   2   0   0   1    60     2
15  "tk   tanker"                75  25  45   3   0   0   0   0   0   1    30     1
16  "ms   minesweeper"           10  25  15   2   0   0   0   0   0   0    20     1
17  "dd   destroyer"             45  35  20   4   6   3   1   0   0   1    30     1
18  "sb   submarine"             25  20   5   4   3   3   0   0   0   0    30     1
19  "sbc  cargo submarine"       50  30   2   3   0   0   0   0   0   0    50     2
20  "cal  light carrier"         60  30  40   5   2   2   0  20  20   4    50     2
21  "car  aircraft carrier"      80  35  40   7   2   2   0  40  40  10   120     3
22  "can  nuc carrier"          100  45  40   9   2   2   0  60   4  20     0     0
23  "ls   landing ship"          40  30  30   2   0   0   6   0   0   2    30     1
24  "af   asw frigate"           50  35  30   5   2   2   0   0   0   4    40     1
25  "na   nuc attack sub"        45  40   3   6   5   3   0   0   0   0     0     0
26  "ad   asw destroyer"         60  40  35   6   8   3   0   0   2  10    80     2
27  "nm   nuc miss sub"          55  35   2   6   0   0   0  20   0   0     0     0
28  "msb  missile sub"           35  30   3   3   0   0   0  10   0   0    30     1
29  "mb   missile boat"          15  40  15   3   2   2   0  10   0   0     7     1
30  "mf   missile frigate"       50  35  30   5   2   2   0  20   0   2    30     1
31  "mc   missile cruiser"       70  35  35   8   8   6   0  40   8   8    35     1
32  "aac  aa cruiser"            80  35  30   6   1   8   4   0   0   1    60     2
33  "agc  aegis cruiser"         80  35  30   6   1  16   0  32   2  30     0     0
34  "ncr  nuc cruiser"          100  45  35   6  14   7   0  20   2  10     0     0
35  "nas  nuc asw cruiser"       80  45  35   9  10   4   0   0   8  25     0     0
36  "nsp  nuc supply ship"       40  45  35   6   0   0   2   0   2  10     0     0
/config

config ship-chr
type name                       civ mil she gun pet iro dus bar foo oil  lcm hcm   uw rad flags
 0  "fb   fishing boat"         300  10   0   0   0   0   0   0 900   0    0   0   15   0 (fish canal)
 1  "ft   fishing trawler"      300  10   0   0   0   0   0   0 900   0    0   0   15   0 (fish canal)
 2  "cs   cargo ship"           600  50 300  50   0   0   0   0 900   0 1400 900  250   0 (supply)
 3  "os   ore ship"              30   5   0   0   0 990 990   0 200   0    0   0   45 990 ()
 4  "ss   slave ship"            20  80   0   0   0   0   0   0 200   0    0   0 1200   0 ()
 5  "ts   trade ship"            50  50   0   0   0   0   0   0 100   0    0   0    0   0 (trade)
 6  "frg  frigate"                0  60  10   2   0   0   0   0  60   0    0   0    0   0 (semi-land)
 7  "oe   oil exploration boat"  10   5   0   0   0   0   0   0 100   1    0   0    0   0 (oil canal)
 8  "od   oil derrick"          990  80   0   0   0   0   0   0 990 990    0   0  990   0 (oil)
 9  "pt   patrol boat"            0   2  12   2   0   0   0   0   5   0    0   0    0   0 (torp canal)
10  "lc   light cruiser"          0 100  40   5   0   0   0   0 100   0    0   0    0   0 (mine)
11  "hc   heavy cruiser"          0 120 100   8   0   0   0   0 200   0    0   0    0   0 ()
12  "tt   troop transport"        0 120  20   4   0   0   0   0 120   0    0   0    0   0 (semi-land)
13  "bb   battleship"             0 200 200  10   0   0   0   0 900   0    0   0    0   0 ()
14  "bbc  battlecruiser"          0 180 100  10   0   0   0   0 400   0    0   0    0   0 ()
15  "tk   tanker"                30   5   0   0 990   0   0   0 200 990    0   0   25   0 (oiler supply)
16  "ms   minesweeper"            0  10 100   1   0   0   0   0  90   0    0   0    0   0 (mine sweep canal)
17  "dd   destroyer"              0  60  40   4   0   0   0   0  80   0    0   0    0   0 (dchrg sonar mine)
18  "sb   submarine"              0  25  36   5   0   0   0   0  80   0    0   0    0   0 (torp sonar mine sub)
19  "sbc  cargo submarine"        5  10 104  20 100   0   0   0 900   0  500 300    0   0 (sonar sub oiler supply)
20  "cal  light carrier"          0 175 250   4 300   0   0   0 180   0    0   0    0   0 (plane)
21  "car  aircraft carrier"       0 350 500   4 500   0   0   0 900   0    0   0    0   0 (plane)
22  "can  nuc carrier"            0 350 999   4 999   0   0   0 900   0    0   0    0   0 (plane oiler supply)
23  "ls   landing ship"           0 400  10   1   0   0   0   0 300   0    0   0    0   0 (land)
24  "af   asw frigate"            0  60  60   4   0   0   0   0 120   0    0   0    0   0 (torp dchrg sonar sub-torp)
25  "na   nuc attack sub"         0  25  60   6   0   0   0   0 500   0    0   0    0   0 (torp sonar min sub sub-torp)
26  "ad   asw destroyer"          0 100  80   6  40   0   0   0 500   0    0   0    0   0 (torp dchrg sonar sub-torp)
27  "nm   nuc miss sub"           0  25 200   1   0   0   0   0 500   0    0   0    0   0 (sonar sub)
28  "msb  missile sub"            0  25 100   1   0   0   0   0 500   0    0   0    0   0 (sonar sub)
29  "mb   missile boat"           0   5 100   3   0   0   0   0 500   0    0   0    0   0 ()
30  "mf   missile frigate"        0  60 220   4   0   0   0   0 120   0    0   0    0   0 ()
31  "mc   missile cruiser"        0 120 500   6 160   0   0   0 200   0    0   0    0   0 (anti-missile)
32  "aac  aa cruiser"             0 100 100  15   0   0   0   0 200   0    0   0    0   0 (anti-missile)
33  "agc  aegis cruiser"          0 200 400  25  40   0   0   0 900   0    0   0    0   0 (anti-missile)
34  "ncr  nuc cruiser"            0 200 400   8  40   0   0   0 900   0    0   0    0   0 (anti-missile)
35  "nas  nuc asw cruiser"        0 200 120   6 160   0   0   0 500   0    0   0    0   0 (torp dchrg sonar sub-torp)
36  "nsp  nuc supply ship"       50  50 600  50 999   0   0   0 999   0 1500 900    0   0 (supply)
/config
