4,14,24,34,44,54 * * * * /home/children/howitzer/map/mapper 1>>/dev/null 2>&1
51 18 * * * /home/children/howitzer/map/makempeg 1>>/dev/null 2>&1
58 18 * * * /home/children/howitzer/map/archive.pl > /home/children/html/howitzer/index.html
27 19 * * * /home/children/howitzer/map/cleanup 1>>/home/children/logs/cleanup 2>&1
